.container {
    width: 1336px;
    background-color:lightgray ;
    margin: 0 auto ;

 }
 .text-block {
    text-align: center;
    width: 760px;
    margin: 0 auto;
    margin-bottom: 48px; 

 }
 .box {
    width: 310px;
    height: 430px;
 }
 .row1
 {
    display: flex;
    justify-content: space-between;

 }
 .row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

 }
 .class1 {
    font-size: 18px;
    color: #282828;
    font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 6px; 
  padding-top: 8px;

 } 
 .class2 {
    font-size: 14px;
    color:#3E3E59;
    
    
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 4px;
 }
 .class3 {
    font-size: 14px;
    color: #5F6980;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

 }
 .class01 {
   font-size: 54px;
    color: #282828;
    margin-bottom: 16px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal; }

.paragraf1 {
   color: #5F6980;
   font-size: 20px;
   font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.h4-01 {
   color: #282828;
   font-size: 16px;
   font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
.icon-style {
   padding-top: 16px;
}
.footer-class {
   background-color: #53535354;
   width: 1336px;
   height: 460px;
   display: flex; 
   margin: 0 auto;

}
.foot-sec-class {   
   
   display: flex; 
   justify-content: space-between;
   width: 1128px;
   height: 223px;

}
.div-footer1 {
   display: flex;
   width: 318.05px;
   height: 221px;

}
.h3-01 {
   color: #1E1E1E;
   font-size: 20px; 
   margin-top: 108px; 
   margin-bottom: 71px;
   font-family: "Inder", serif;
   font-weight: 700;
   font-style: normal;


}
.paragraf-footer-class { 
   margin-top: 204px;
   color: #535353;
   size: 14px;
}
ul {
   color: #535353;
   font-size: 14px;
}
.img-footer{
   width: 100px;
   height: 64px;
   padding-top: 108px;
   padding-left: 164px; 

}
